<h1>Bronx Shelters</h1>

<% Shelter.all.each do |s| %>
<% if s.location == 'Bronx' %>
Name: <%= link_to s.name, s %> <br>
<% end %>
<% end %>

<p><%= link_to  "View All Shelters", shelters_path %></p>