<h1> "Puppy Love NYC Shelters" </h1>

<% @shelters.each do |shelter| %>
   Name: <%= link_to shelter.name, shelter %><br>
   Location: <%= shelter.location %><br>
   <br>
 <% end %>
 <p><%= link_to  "Return to Profile Page", profile_path %></p>


