<h1>Queens Shelters</h1>
<%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, playsinline: :playsinline, class: "home_video" %>

<% Shelter.all.each do |s| %>
<% if s.location == 'Queens' %>
Name: <%= link_to s.name, s %> <br>
<% end %>
<% end %>

<p><%= link_to  "View All Shelters", shelters_path %></p>