<h1> All Pets </h1>

<% @pets.each do |pet| %>
 <p> Name: <%= link_to pet.name, pet %><p>
 <p> Age: <%= pet.age %><p>
 <p> Breed: <%= pet.breed %><br>
  <p> Shelter Name: <%= pet.shelter.name %><br>
 <br>
 <% end %>

