<h1><%= @user.name %></h1>
<%= @user.location %>
<br>
<br>
<h3> Appointments </h3>
<% @user.appointments.each do |a| %>
Date/Time: <%= link_to a.date_time, a %><br>
<% end %>

<%= button_to "Delete Account", @user, :method => 'delete'%>



