<h1> My Name is: <%= current_user.name%> </h1>


<% if current_user == @user %>
<%= button_to "Delete User", @user, :method => :delete, data: {confirm: "Are you sure?" }%>
<% end %>

<%= button_to "Logout", logout_path, :method => :delete, data: {confirm: "Are you sure?" }%>
