<h1> Appointment Details </h1>

<p> Shelter Name: <%= @appointment.pet.shelter.name %>
<p> Location: <%= @appointment.pet.shelter.location %>
<p> Date and Time: <%= @appointment.date_time %>

    





